body {
  background: lavender;
}

h1 {
  background: green;
  color: #fff;
}

p {
  line-height: 1.5;
  color: rgba(0,0,0,0.6);
}

div {
  width: 100px;
  height: 200px;
  background-image: linear-gradient(#e2a 20%, green 20%);
}
